/* PROJECT STYLING */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  --light: #d3d9d4;
  --dark: #212a31;
  --primary: #da4319;
  --secondary: #708397;
  --tertiary: #2e3944;
}

body {
  font-family: "Lato", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--dark);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  background-color: var(--dark);
  color: var(--light);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/************************* HEADER **********************/
header {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}

.logo img {
  height: 10vh;
}

.nav-links {
  /* border: 2px solid purple; */
  margin-top: 10%;
  display: flex;
  align-items: flex-end;
}

.nav-links ul {
  display: flex;
  list-style: none;
  gap: 20px;
  font-size: 1.4rem;
}

.nav-links li {
  text-decoration: none;

  /* padding: 10px; */
}

.nav-links a {
  text-decoration: none;
  color: var(--light);
  border-bottom: 2px solid var(--light);
}

.nav-links a:hover {
  color: var(--primary);
  border-bottom: 2px solid var(--primary);
  transition: all 0.3s ease;
}

section {
  /* border: 4px solid cyan; */
  display: flex;
  width: 70%;
  margin: 0 auto;
}

section h1 {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

/************************* HOME-SECTION **********************/
#home-section {
  height: 40vh;
  display: flex;
  justify-content: space-between;
}
.intro {
  /* border: 2px solid purple; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.intro-text p {
  font-size: 2.2rem;
}

.intro-text span {
  color: var(--primary);
}
.intro-btn {
  background-color: transparent;
  border: 2px solid var(--primary);
  padding: 10px 100px;
  border-radius: 3px;
  font-size: large;
  color: var(--light);
}

.intro-btn:hover {
  background-color: var(--primary);
  color: white;
  /* add transition */
  transition: background-color 0.7s ease;
  cursor: pointer;
  /* add transform */
}

.greeting-links {
  /* border: 2px solid red; */
  display: flex;
  gap: 2px;
}

.greeting-dev-icons {
  height: 40px;
}

/* *************************ABOUT ME******************** */
#about-section {
  display: flex;
  flex-direction: column;
  height: 45vh;
  /* border: 2px solid red; */
}

.about-content {
  display: flex;
  gap: 20px;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-text p {
  font-size: 2.1rem;
}

.about-text span {
  color: var(--primary);
}

.about-btn {
  background-color: transparent;
  border: 2px solid var(--primary);
  padding: 10px 100px;
  border-radius: 3px;
  font-size: large;
  color: var(--light);
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.skills-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--tertiary);
  height: 100px;
  width: 100px;
  padding: 10px;
}

/* ****************PROJECTS*************************** */

#projects-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}
.project {
  display: flex;
  position: relative;
  height: 50vh;
  width: 80%;
  margin: 80px auto;
}

.project-img {
  object-fit: cover;
  width: 100%;
  box-shadow: 0 0 10px var(--tertiary);
  z-index: 2;
}

.project-shape {
  position: absolute;
  height: 51vh;
  width: 100%;
  background-color: var(--secondary);
  top: -3%;
  left: -2%;
  transform: rotate(-1deg);
  z-index: 1;
}

.project:hover > .project-shape {
  width: 95%;
  height: 100%;
  top: 0;
  left: 0;
  transform: rotate(-0deg);
  transition: ease-out 0.3s;
}
.project:hover {
  border: 5px solid var(--secondary);
  transition: ease-out 0.3s;
}

/* **********************CONTACT FORM*********************************** */
#contact-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 10vh;
  gap: 20px;
}

.contact-form {
  margin: 0 auto;
  width: 60%;
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-control label {
  font-size: 1.4rem;
}

.form-control input {
  padding: 5px;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 2px solid var(--tertiary);
  outline: none;
}

.form-control textarea {
  padding: 5px;
  font-size: 1.4rem;
  border-radius: 5px;
  resize: none;
  outline: none;
  border: 2px solid var(--tertiary);
}

.form-button {
  background-color: var(--primary);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 10px;
  color: whitesmoke;
  font-size: medium;
  width: 20%;
}

/* **********************FOOTER*********************************** */
footer {
  background-color: var(--secondary);
  color: var(--tertiary);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  gap: 10px;
}
footer img {
  height: 40px;
}

/* **********************WIDESCREEN*********************************** */
@media (min-width: 1720px) {
  .container {
    max-width: 1720px;
    margin: 0 auto;
  }
  #home-section {
  }
}

/* ***************************MOBILE********************/
@media (max-width: 767px) {
  .container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
  .nav-links {
    display: none;
  }

  section {
    flex-direction: column;
    width: 100%;
  }

  .photo {
    /* size photo to be a portion of screen width */
    height: 30vh;
  }

  .greeting {
    justify-content: flex-start;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(60, 60, 60);
  }

  .greeting-text {
    width: 100%;
  }
  .greeting p {
    font-size: 1.5rem;
  }

  .greeting h1 {
    font-size: 2.5rem;
  }

  .projects-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .projects-grid div {
    margin: 0 auto;
    height: auto;
  }

  .contact-form {
    width: 100%;
  }

  .form-button {
    width: 100%;
  }
}
