/* PROJECT STYLING */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  color: var(--primary-text-color);

}

a{
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  --primary-bg-color: #d3d9d4;
  --secondary-bg-color: #748d92
  --primary-accent-color: #124e66;
  --primary-text-color: #212A31;
  --secondary-text-color: #2e3944
  background-color: var(--main-bg-color);
}


/************************* HEADER **********************/

header {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}

header .logo {
  /* border: 2px solid blue; */
}

.logo img {
  height: 10vh;
}

.nav-links {
  /* border: 2px solid purple; */
  display: flex;
  align-items: flex-end;
}

.nav-links ul {
  display: flex;
  list-style: none;
  gap: 20px;
  font-size: 1.4rem;
}

.nav-links li {
  text-decoration: none;

  /* padding: 10px; */
}

.nav-links a {
  text-decoration: none;
  color: rgb(60, 60, 60);
  border-bottom: 2px solid rgb(60, 60, 60);
}

/* HAMBURGER NAV */
.hamburger-nav {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.hamburger-nav div {
  width: 2rem;
  height: 0.25rem;
  background-color: rgb(60, 60, 60);
  border-radius: 10px;
  transform-origin: 1px;
  transition: all 0.3s linear;
}

.hamburger-nav-links {
  display: none;
  width: 100%;
}

/************************* SECTION **********************/
section {
  /* border: 4px solid cyan; */
  display: flex;
  width: 70%;
  margin: 0 auto;
}

.photo {
  /* border: 2px solid blue; */
  height: 80vh;
}

/* **********GREETING****************** */
.greeting {
  /* border: 2px solid purple; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.greeting p {
  font-size: 2.5rem;
}

.greeting h1 {
  font-size: 4.5rem;
  color: #124e66
}

.greeting-text {
  /* border: 2px solid steelblue; */
  margin-bottom: 20px;
}

.greeting-toolbar {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.greeting-buttons {
  display: flex;
  gap: 10px;
}

.greeting-buttons button {
  background-color: rgb(60, 60, 60);
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  color: whitesmoke;
  font-size: medium;
}

.greeting-links {
  /* border: 2px solid red; */
  display: flex;
  gap: 2px;
}

.greeting-dev-icons {
  height: 40px;
}

/* ****************PROJECTS*************************** */

#project-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}
.projects-grid {
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.projects-grid div{
  height: 280px;
  width: 280px;
  background-color: #124e66;
  font-size: 1.4rem;
  color: #d3d9d4;
  padding: 20px
}

/* ***************************MOBILE********************/
@media (max-width: 767px) {
  .container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
  .nav-links {
    display: none;
  }
  .hamburger-nav-links {
    display: none;
    width: 100%;
  }

  .hamburger-nav {
    display: flex;
  }

  .hamburger-nav-links.show {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .hamburger-nav-links.show ul {
    position: absolute;
    list-style: none;
    text-align: right;
    padding: 10px 10px 10px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .hamburger-nav-links.show li {
    padding: 10px 0 10px 10px;
    border-bottom: 1px solid rgb(60, 60, 60);
  }

  .hamburger-nav-links.show a {
    text-decoration: none;
    color: rgb(60, 60, 60);
  }

  section {
    flex-direction: column;
    width: 100%;
  }

  .photo {
    /* size photo to be a portion of screen width */
    height: 30vh;
  }

  .greeting {
    justify-content: flex-start;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(60, 60, 60);
  }

  .greeting-text {
    width: 100%;
  }
  .greeting p {
    font-size: 1.5rem;
  }

  .greeting h1 {
    font-size: 2.5rem;
  }

  .projects-grid{
   grid-template-columns: repeat(1, 1fr);
  }

  .projects-grid div{
    margin: 0 auto;
    height: auto;
  };
}
